@media only screen and (max-width: 767px) {
    .header h4 {
        padding: 16px 4px;
        margin-left: -28px;
        font-size: 9px;
    }

    .header .font {
        font-size: 10px;
        padding: 15px 0px;
        color: #0e50b1;
    }

    .header p {
        font-size: 7px;
        margin-left: -4px;
        margin-bottom: 0px;
        margin-top: -14px;
    }

    .header h6 {
        font-size: 8px;
        margin-left: -4px;
        margin-top: 0px;
    }

    .main-menu2 {

        height: 35px;

        background: #1662DC;
    }

    .main-menu2 ul li a {

        font-size: 7px;

        color: white;

        text-decoration: none;

        padding: 5px 8px;

        display: block;

        border-right: 1px solid rgb(41, 40, 40);
    }

    .about {
        margin-top: 25px;
        text-align: center;
    }

    .about h4 {
        color: #0b4094;
        margin-bottom: 35px;
        font-size: 18px;
    }

    .about p {
        margin-bottom: 8px;
        font-size: 13px;
    }

    .unit {
        margin-bottom: 15px;
    }

    .akij2 {
        padding-top: 40px;
    }

    .apple h3{
        color: #386AB1;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
    }
    .act p{
        text-align: center;
        font-size: 13px;
        color: black;
        padding: 0px;
    }

    .sir{
        background-color: white;
        border-radius: 7px;
        text-align: center;
        margin-left: 35px;
        width: 250px;
        margin-bottom: 35px;
    }

    .gist{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .section9 h6{
        color: #C1D1D9;
        margin-bottom: 25px;
        text-align: center;
        font-size: 11px;
    }

    .akij11{
        background-color: white;
        margin-left: 23px;
        overflow: hidden;
        height: 340px;
        width: 250px;
        margin-bottom: 30px;
    }

    .akij11 h6{
        padding-left: 20px;
        margin-top: 10px;
        font-size: 13px;
    }
    .akij11 p{
        color: #6f6ff1;
        padding-left: 20px;
        font-size: 12px;
    }

    .section11 h5{
        text-align: center;
        margin-top: 30px;
        color: white;
        font-size: 17px;
    }
    .section11 p{
        text-align: center;
        margin-bottom: 40px;
        color: white;
        font-size: 10px;
        padding: 0px 13px;
    }

    input#fname {
        margin-right: 20px;
        border-radius: 20px;
        padding: 7px 10px;
        border: 0px solid white;
        margin-bottom: 10px;
        color: rgb(150, 148, 148);
    }
    
    input#lname {
        margin-right: 20px;
        border-radius: 20px;
        padding: 7px 10px;
        margin-bottom: 10px;
        border: 0px solid white;
        color: rgb(150, 148, 148);
    }

    .cute p{
        color: white;
        text-align: center;
        margin-bottom: 0px;
        padding: 6px 8px;
        font-size: 13px;
    }

    .logo5 a {
        color: white;
        text-decoration: none;
        padding: 8px;
        font-size: 13px;
    }
    .logo5 img{
        padding-left: 10px;
    }
    
    .logo6 a {
        color: white;
        text-decoration: none;
        padding: 8px;
        font-size: 13px;
    }


}